<template>
	<div id="console" class="${ ConsoleState[State].toLowerCase() } ${ showGuide ? 'resizeForGuide' : '' }">
		<require from="./console.css"></require>
		<require from="../json-formatter/json-formatter"></require>

		<div id="modeLinks">
			<button class="linkBtn ${Mode === ConsoleMode.Standard ? 'selected' : ''}" click.delegate="Mode=ConsoleMode.Standard"><i class="icon icon-unformatted"></i> Standard</button>
			<button class="linkBtn ${Mode === ConsoleMode.Json ? 'selected' : ''}" click.delegate="Mode=ConsoleMode.Json"><i class="icon icon-formatted"></i> Json</button>
		</div>

		<div id="stateLinks">
            <button class="linkBtn" click.delegate="clear()"><i class="icon icon-close"></i> Clear</button>
			<button class="linkBtn" click.delegate="collapse()"><i class="icon icon-collapse"></i> Collapse</button>
			<button class="linkBtn" click.delegate="expand()"><i class="icon ${State === ConsoleState.Full ? 'icon-restore' : 'icon-expand'}"></i> ${State === ConsoleState.Full ? 'Default' : 'Expand'}</button>
		</div>

		<div id="consoleOutput" ref="consoleOutput" class.bind="ConsoleMode[Mode]">
			
<pre class="intro">
          (_)                         / _| |  
 _ __ ___  _  ___ _ __ ___  ___  ___ | |_| |_ 
| '_ ` _ \| |/ __| '__/ _ \/ __|/ _ \|  _| __|
| | | | | | | (__| | | (_) \__ \ (_) | | | |_ 
|_| |_| |_|_|\___|_|  \___/|___/\___/|_|  \__| Azure Gremlin Console</pre>

            <div if.bind="Mode === ConsoleMode.Json">
                <div repeat.for="raw of rawDataList">
                    <span if.bind="raw.type == 'input'" class="input">${raw.data}</span>
                    <json-formatter if.bind="raw.type == 'output'" json-data.bind="raw.data"></json-formatter>
                </div>
            </div>
			     
			<div if.bind="Mode === ConsoleMode.Standard">
                <div repeat.for="message of messageList" class.bind="message.type">${message.text}</div>
            </div>
		</div>
	</div>
</template>