<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="YOUR_SERVER_BASE_URL" />
    <add key="UserName" value="store1" />
    <add key="Password" value="P2ssw0rd@1" />
    <add key="SleepTimeout" value="1000" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>