

/* R */

  
  @media (max-width:767px) {
    /* SmartDevices Common */
    header.home {  
      top-subnavbar {
      }
      #float-header {
        bottom: -45px !important;
        #main-menu {
          
          ul {
            
            li {
              margin-right: 15px!important;
            }
          }
        }
        #cart-block {
          margin-right: 15px;
        }
      } 
    }
    
    #home-top-slider {
      height: 320px !important;
    
      #float-search-control {
        
        margin-top: 140px !important;
        input {
          font-size: 16px !important;
          height: 40px !important;
          width: 290px !important;
        }
      }
    
    }
    
    #home-lastest-stores {
      ul {
        li.title {
          width: auto !important;
        }
        li {
          width: auto !important;
          display: block !important;
        }
      } 
    }
    
    @media (orientation: landscape) {
      /* SmartDevices Landscape */
    }
    @media (orientation: portrait) {
      /* SmartDevices Portrait */

    }
  }
  /* R */
  
  @media (min-width: 768px) and (max-width: 1199px) {
    /* SmartDevices Common */


    #home-lastest-stores {
      

      
 
      ul {
        
        li {
          margin-left: 0!important;
          text-align: center;
          width: auto;
          > span {
            float:right;
            width: auto;
            a {
              
              background: none;
              padding-right: 0!important;
            }
          }
        }
        
      }
      
    }
    
    @media (orientation: landscape) {
      /* SmartDevices Landscape */

    }
    @media (orientation: portrait) {
      /* SmartDevices Portrait */

    }
  }