<div class="block-flights-options">
    <div class="row">
        <div class="col-12">
            <h3 class="block-flights-options-title">View by</h3>
            
            <div class="form-check">
              <label class="form-check-label block-flights-options-label">
                <span class="radio-button-square radio-button-square--active"></span>
                Price
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label block-flights-options-label">
                <span class="radio-button-square"></span>
                Calendar
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label block-flights-options-label">
                <span class="radio-button-square"></span>
                Schedule
              </label>
            </div>
            <br>
        </div>

        <div class="col-12">

            <h3 class="block-flights-options-title">Filter results</h3>
            <div class="form-check">
              <label class="form-check-label block-flights-options-label">
                <span class="radio-button-square"></span>
                Nonstop
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label block-flights-options-label">
                <span class="radio-button-square radio-button-square--active"></span>
                1 stop
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label block-flights-options-label">
                <span class="radio-button-square"></span>
                2+ stops
              </label>
            </div>
        </div>
    </div>
</div>