<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Tenant" value="experiencehol.onmicrosoft.com"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="MyExpensesDataModel" 
         connectionString="data source=e1zod44gsvrhjgk.northeurope.cloudapp.azure.com;initial catalog=Expenses;persist security info=True;user id=experience1;password=P2ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" 
         providerName="System.Data.SqlClient" />-->
    <!--<add name="MyExpensesDataModel" 
         connectionString="data source=E1SZZYBDRD3GA4Q.northeurope.cloudapp.azure.com;initial catalog=Expenses;persist security info=True;user id=experience1;password=P2ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" 
         providerName="System.Data.SqlClient" />-->
    <add name="MyExpensesDataModel"
     connectionString="data source=e3o5mdurwju6o32.northeurope.cloudapp.azure.com;initial catalog=Expenses;persist security info=True;user id=experience1;password=P2ssw0rd;MultipleActiveResultSets=True;App=EntityFramework"
     providerName="System.Data.SqlClient" />
    <!--<add name="MyExpensesDataModel"
     connectionString="data source=.;initial catalog=Expenses;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;App=EntityFramework"
     providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>