<div class="landing-header">
    <div class="landing-header-button">
        <button class="landing-loginButton" ng-click="doLogin()">SIGN IN</button>
    </div>
    <ul class="landing-header-menu"><li>My Expense</li><li>Pricing</li><li>Customers</li><li>Support</li></ul>
</div>
<div class="landing row">
    <div class="landing-blockA"></div>
    <div class="landing-blockA-text">Expense reports the easy way</div>
    <div class="landing-blockA-secondaryText">Automate travel and business expense reporting, streamline approvals, gain visibility and take control.</div>
    <div><button class="landing-trialButton">TRY FREE FOR 14 DAYS</button></div>
    <img class="landing-blockA-secondaryImage" src="../images/My_expenses.png" />
    <div class="landing-blockB">Expense Reporting you will love</div>
    <div class="landing-blockB-header landing-blockB-header-col">Control your expenditures</div>
    <div class="landing-blockB-header landing-blockB-header-col">Simplify the approval process</div>
    <div class="landing-blockB-header landing-blockB-header-col">Import card transactions</div>
    <br />
    <div class="landing-blockB-secondaryText landing-blockB-secondaryText-col">No more confusion about allowed expenses or spending limits. Ensure that your's organization's expense policies are enforced.</div>
    <div class="landing-blockB-secondaryText landing-blockB-secondaryText-col">Make life easy with instant approvals and reminders for pending expense reports.</div>
    <div class="landing-blockB-secondaryText landing-blockB-secondaryText-col">Capture debit and credit card transactions and turn them into expense entries.</div>
    <br />
    <div class="landing-blockB-secondaryImage landing-blockB-secondaryImage-col"><img src="../images/control-icon.png" /></div>
    <div class="landing-blockB-secondaryImage landing-blockB-secondaryImage-col"><img src="../images/simplify-icon.png" /></div>
    <div class="landing-blockB-secondaryImage landing-blockB-secondaryImage-col"><img src="../images/import-icon.png" /></div>
    <br />
    <div class="landing-blockC"></div>
    <div class="landing-blockC-text">What our customers say</div>
    <img class="landing-blockC-photo" src="../images/photo-user.png" />
    <div class="landing-blockC-customer">John Doe</div>
    <div class="landing-blockC-role">DEV, Plain Concepts</div>
    <div class="landing-blockC-secondaryText">"It takes my collegagues less than five minutes to upload the receipts, create expense reports, and submit them for approval."</div>
    <br />
    <div class="landing-blockD"></div>
    <div class="landing-blockD-text">Effortless expense reports</div>
    <div><button class="landing-blockD-trialButton">TRY FREE FOR 14 DAYS</button></div>

</div>