<div class="loading-wrapper" [ngClass]="{'loading-fadeout': loaded}" *ngIf="!remove">
    <div class='progress-ring'>
        <div class='progress-ring-wrap'>
            <div class='progress-ring-circle'></div>
        </div>
        <div class='progress-ring-wrap'>
            <div class='progress-ring-circle'></div>
        </div>
        <div class='progress-ring-wrap'>
            <div class='progress-ring-circle'></div>
        </div>
        <div class='progress-ring-wrap'>
            <div class='progress-ring-circle'></div>
        </div>
        <div class='progress-ring-wrap'>
            <div class='progress-ring-circle'></div>
        </div>
    </div>
</div>