<div class="footer">
    <div class="container">
        <div class="row menu">
            <div class="col-12 col-sm-4 footer--col--1">
                <h4>ABOUT CONTOSO</h4>
                <ul>
                    <li><a href="#">Who we are</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Travel advisories</a></li>
                    <li><a href="#">Customer commitment</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">Privacy notice</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 footer--col--2">
                <h4>CUSTOMER SERVICE</h4>
                <ul>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Newsroom</a></li>
                    <li><a href="#">Investor relations</a></li>
                    <li><a href="#">Contract of carriage</a></li>
                    <li><a href="#">Tarmac delay plan</a></li>
                    <li><a href="#">Site map</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 footer--col--3">
                <h4>PRODUCTS AND SERVICES</h4>
                <ul>
                    <li><a href="#">Optional services and fees</a></li>
                    <li><a href="#">Corporate travel</a></li>
                    <li><a href="#">Travel agents</a></li>
                    <li><a href="#">Cargo</a></li>
                    <li><a href="#">Gift certificates</a></li>
                    <li><a href="#">Follow us</a></li>
                </ul>
            </div>
        </div>
        <p class="footer-copyright">This site is built by Microsoft for demonstration purposes only.</p>
    </div>
</div>